@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.font-raleway {
    font-family: "Raleway", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.primary-color {
    color: #1DD100;
}

.bgPrimary {
    background-color: #1DD100;
}

/* .seat-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
} */

.seat-btns,
.steerting-while {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 40px 17px 40px;
    ;
    border-radius: 10px;
    cursor: pointer;
}

.seat-btn-category {
    background-color: gray;
    color: #fff;
    font-weight: 600;
}

.setInnerText-div {
    display: flex;
    justify-content: space-between;
    border-top: 2px;
    border-bottom: 2px;
    border-style: dotted;
    padding: 10px;
}